body {
    font-family: 'Futura', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff; /* Bílé pozadí */
    color: #000; /* Černý text */
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
    border-bottom: 2px solid #fff; /* Podtržení kategorií */
}

nav a {
    color: #fff;
    text-decoration: none;
}

section#main-photo {
    text-align: center; /* Zarovnání fotografie na střed */
}

section#main-photo img {
    width: 100%; /* Fotografie bude zabírat 100% šířky rodičovského elementu */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center; /* Zarovnání textu v patičce na střed */
    padding: 1em;
}
